/web/bundles/
/web/lib/*
!/web/lib/.gitkeep
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/data/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/data/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
!bin/update-dev
!bin/install
!bin/set-permissions
!bin/run-tests
/composer.phar
/.idea/