<html>
<head>
    <title>Angular 2 QuickStart JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('bundles/ddrsymfonyangularrestexampleweb/css/style.css') }}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.6.23/zone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reflect-metadata/0.1.8/Reflect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.0-beta.12/Rx.min.js"></script>

    <script src="node_modules/@angular/core/bundles/core.umd.js"></script>
    <script src="node_modules/@angular/common/bundles/common.umd.js"></script>
    <script src="node_modules/@angular/compiler/bundles/compiler.umd.js"></script>
    <script src="node_modules/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>

    <script src="{{ asset('bundles/ddrsymfonyangularrestexampleangular2/js/app/app.component.js') }}"></script>
    <script src="{{ asset('bundles/ddrsymfonyangularrestexampleangular2/js/app/app.module.js') }}"></script>
    <script src="{{ asset('bundles/ddrsymfonyangularrestexampleangular2/js/app/main.js') }}"></script>
</head>
<body>
<my-app>Loading...</my-app>
</body>
</html>
