<div class="page-header">
    <div class="btn-group pull-right" ng-hide="!user.admin && user.id != newsEntry.author.id">
        <a class="btn btn-large btn-default" href="#!/news/{{newsEntry.id}}/edit">&nbsp;<i
                class="glyphicon glyphicon-pencil"></i>&nbsp;</a>
        <a class="btn btn-large btn-default" ng-click="remove(newsEntry)">&nbsp;<i
                class="glyphicon glyphicon-trash"></i>&nbsp;</a>
    </div>
    <h1><span ng-hide="!loading" class="fa fa-spin fa-spinner"></span>{{newsEntry.title}}</h1>

    <div>
        <span class="text-muted">Written by</span> {{newsEntry.author.username}} <span class="text-muted">on</span>
        {{newsEntry.date | date:'short'}}
    </div>
</div>

<div ng-hide="!loading" class="text-center">
    <span class="fa fa-spin fa-spinner"></span>
</div>

<p>{{newsEntry.content}}</p>

<div class="page-header">
    <h2>Comments</h2>
</div>

<div ng-hide="!commentsLoading" class="text-center">
    <span class="fa fa-spin fa-spinner"></span>
</div>

<div ng-hide="commentsLoading">
    <div ng-repeat="comment in comments" class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right" ng-hide="!user.admin && user.id != comment.author.id">
                <a class="btn btn-large btn-default" ng-click="removeComment(comment)">&nbsp;<i
                        class="glyphicon glyphicon-trash"></i>&nbsp;</a>
            </div>
            <h3 class="panel-title">{{comment.author.username}} wrote on {{comment.date | date: 'short'}}</h3>
        </div>
        <div class="panel-body">
            {{comment.content}}
        </div>
    </div>
</div>

<div ng-show="user">
    <form name="form" method="post" action="" role="form" ng-hide="loading">
        <div class="form-group" ng-class="{'has-error': form.content.$invalid}">
            <label class="control-label required" for="form_content">Content</label>
        <textarea id="form_content" name="content" required="required" rows="5"
                  class="form-control" ng-model="comment.content" minlength="1"
                  maxlength="255"></textarea>
        </div>
        <button type="submit" id="form_save" name="form[save]" class="btn btn-primary" ng-click="submitComment()"
                ng-disabled="form.$invalid || submitting">
            Save <span ng-hide="!submitting" class="fa fa-spin fa-spinner"></span>
        </button>
    </form>
</div>